@inherits LayoutComponentBase
@layout MainLayout

<div class="center-container">

    <div class="left-panel left-panel-full">

        <div class="left-section full">

            <div class="top-section">

                <div class="reducer-holder">
                    <a class="icon-Reducer"></a>
                </div>

                <nav class="nav-bar">

                    <ul class="main-nav">
                        <li>
                            <a class="active">
                                <i class="icon-StockInventory"></i>
                                <span>
                                    Store
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="not-active">
                                <i class=" icon-Product"></i>
                                <span>
                                    Products
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="not-active">
                                <i class="icon-StockInventory"></i>
                                <span>
                                    Stock Inventory
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="not-active">
                                <i class=" icon-Sales"></i>
                                <span>
                                    Sales
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="bottom-button">
                <a>
                </a>
            </div>

        </div>

    </div>
    
    @Body

</div>